#intro {
    color: antiquewhite;
    justify-content: center;
    vertical-align: top;
}
.row{
    display: flex;
    align-items: center;
    margin-top: 5%;
}

.content{
    display: flexbox;
    width: 75%;
    text-align: center;
    font-size: 1.3em;
}

.content2{
    color: lightskyblue;
    font-weight: bolder;
    font-size: large;
    text-align: center;
    font-size: 1.5em;
}
img{
    display: flexbox;
    margin-left: 28%;
    vertical-align: top;
    width: 400px;
    height: 400px;
    border: 4px solid white;
    ;
}
#contact-img{
    width: 60px;
    height: 50px;
    margin-top: 10px;
    display: flexbox;
}

.contact-info{
    display: block;
    text-align: center;
    width: 58%;
    background-color: darkslategrey;
    opacity: .9;
    border-radius: 1em;
    margin: auto;
    margin-top: 10px;
    
}

#gmail{
    color: antiquewhite;
    font-weight: bolder;

}

#left{
    width: 50%;
    text-align: center;
}
#right{
    width: 50%;
    display: inline-block;
}

.list{
    background-color: darkslategrey;
    width: 70%;
    border-radius: 1em;
    opacity: .9;
    padding: 10px;
}

.list-header{
    font-weight:bolder ;
    text-decoration: underline;
}

li {
    color: lightskyblue;
    font-size: large;
    font-weight: bolder;
}