.center {
    text-align: center;
    color: antiquewhite;

}

#content {
    margin-top: 5%;
    font-size: 2.2em;
}

.header {
    font-size: 4.5em;
    color: antiquewhite;

}

h3{
    color: antiquewhite;
}



html{
    background: url(https://images.pexels.com/photos/1933239/pexels-photo-1933239.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}